.background {
    background-color: rgb(237 241 245);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.centered-frame {
	align-items: center;
}

.header {
	color: rgb(240 243 246);
}

.blue-button {
	color: rgb(247 250 252);
    align-items: center;
    font-size: 18px;
    background: rgb(53, 119, 255);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
