<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title th:text="Anime list" />
</head>

<body>
	<h1 text="Anime list" />
	<form th:action="@{/anime/search/}" method="get">
		<input type="search" name="string" placeholder="Search..." />
		<input type="submit" value="Search">
	</form>
	<img th:src="@{${'../' + @animeService.getMainPictureFolder() + '/' + anime.mainPicturePath}}" alt="main picture" />
	<p th:text="${@animeService.getMainPictureFolder() + '/' + anime.mainPicturePath}" />
	<p th:text="${anime.description}" />
	<div sec:authorize="hasAuthority('ADMIN')">
		<a th:href="/@{'/delete/' + ${product.id}}">Delete</a>
	</div>
</body>

</html>