<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Profile</title>
</head>

<body>
	<h1>Profile</h1>
	<a th:href="@{/profile/watchlist}">Watchlist</a>
	<form th:with="user=${#authentication.getPrincipal()}">
		<img th:src="@{${@userService.getProfilePicturesFolder() + '/' + user.profilePicturePath}}"
			alt="profile picture" />
		<p th:text="${@userService.getProfilePicturesFolder() + '/' + user.profilePicturePath}"/>
		<div>
			<p th:text="${user.username}" />
		</div>
		<img th:src="@{${@animeService.getMainPictureFolder() + '/1650044696489.jpg'}}"
			alt="profile picture" />
	</form>
</body>

</html>