<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Profile</title>
</head>

<body>
	<p>Profile</p>
	
	<form th:with="user=${#authentication.getPrincipal()}">
		<img th:src="@{${'images/user/profile-pictures/' + user.profilePicturePath}}" alt="profile picture"/>
		<p th:text="${user.id}"/>
		<p>Path</p>
		<p th:text="@{${'images/user/profile-pictures/' + user.profilePicturePath}}"/>
		<p>End of path</p>
		<div>
			<p th:text="${user.username}"/>
		</div>
	</form>
</body>

</html>